<!DOCTYPE html>
<html lang="fr">
<head>
    {% include('header.html.twig') %}
</head>

<body>

<div class="container" id="container">
    <h1 class="mt-6">404 - Vous êtes perdu ?</h1>

    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-info" href="/">Retour au site</a>
        </div>
    </div>
</div>

{% include('footer.html.twig') %}

</body>
</html>
