<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Théo 1</title>
    <link rel="stylesheet" href="{{ f3.path }}project/example/css/theo.css" type="text/css"/>
</head>

<body>

<div >
    <h1 >in the Air!</h1>
</div>

</body>
</html>